<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544531102417-clbsk42usi7oekvv8n6kt1osoudgv7pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544531102417-clbsk42usi7oekvv8n6kt1osoudgv7pb</string>
	<key>API_KEY</key>
	<string>AIzaSyDXeK1GRCmP618vFAG8e6jc_WfgCHwtY3k</string>
	<key>GCM_SENDER_ID</key>
	<string>544531102417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coum.ios</string>
	<key>PROJECT_ID</key>
	<string>coum-tech-app</string>
	<key>STORAGE_BUCKET</key>
	<string>coum-tech-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544531102417:ios:561a47749a298a805ae3f0</string>
</dict>
</plist>